{% extends "agency/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Make Payment </legend>
                <b> Total Charges: {{ invoice.total_charges }} </b>
                <hr>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit"> Pay</button>
            </div>
        </form>
    </div>
{% endblock content %}