{% extends "agency/base.html" %}
{% load static %}
{% block content %}
    <div class="col-md-16">
        <div class="content-section">
            <h3>Manage Employees</h3>
            <ul class="list-group">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'agency-employees-list' %}" role="button">View Employees</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'agency-register-employee' %}" role="button">Add Employee</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'agency-search-employee' %}" role="button">Update Employee</a>
                <a class="btn btn-danger btn-lg btn-block" href="{% url 'agency-delete-employee' %}" role="button">Delete Employee</a>
            </ul>
        </div>
    </div>
    <div class="col-md-16">
        <div class="content-section">
            <h3>Manage Hotels</h3>
            <ul class="list-group">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'agency-hotel-list' %}" role="button">View Hotels</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'agency-add-hotel' %}" role="button">Add Hotel</a>
            </ul>
        </div>
    </div>

    <div class="col-md-16">
        <div class="content-section">
            <h3>Manage Trips</h3>
            <ul class="list-group">
                <a class="btn btn-primary btn-lg btn-block" href="#" role="button">View Trips</a>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'agency-fixed-trip' %}" role="button">Add Trip</a>
            </ul>
        </div>
    </div>
{% endblock content %}