{% extends "agency/base.html" %}
{% load static %}
{% block content %}
    {% for car in cars %}
    <div class="col-md-8">
        <div class = "content-section">
            <img class="img-thumbnail" src = "{{ car.image.url }}"/>
            <h2>{{ car.make }}</a></h2>
            <h4>{{ car.model }}</h4>
            <h5>Rs {{ car.fare.car_fare }}/ day </h5>
            <a class="btn btn-primary" href="{% url 'agency-select-trip-hotel' trip.id car.reg_no %}"> Select Car </a>
        </div>
    </div>
    {% endfor %}
{% endblock content %}